.flex1 {
    flex: 1 !important;
}
.flex3 {
    flex: 3 !important;
}
.errorDiv {
    border: 2px solid purple !important;
    font-size: 16px !important;
    margin: 10px;
    text-align: center !important;
}
.nav-avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px 0;
}